In [14]:
import pandas as pd

In [15]:
df = pd.read_csv('data/smartmeters_kanal_129.csv')
if "Unnamed: 0" in df.columns:
    df = df.drop(columns=["Unnamed: 0"])

/var/folders/mw/x398f5s545bffd989r6xpm100000gp/T/ipykernel_2422/1243598070.py:1: DtypeWarning: Columns (7,8) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('data/smartmeters_kanal_129.csv')

In [16]:
df.head()

,Power,Timeslot,Datum,Kanal,Messpunkt_ID,Timestamp,Year,OHE_Labels,KLEINANSCHLUSS
0,0.0250,00:00-00:15,20220301,1.29,CH1024201234500000000000010008561,2022-03-01 00:00:00,2022,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0]",Hausanschluss innen
1,0.0150,00:15-00:30,20220301,1.29,CH1024201234500000000000010008561,2022-03-01 00:15:00,2022,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0]",Hausanschluss innen
2,0.0200,00:30-00:45,20220301,1.29,CH1024201234500000000000010008561,2022-03-01 00:30:00,2022,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0]",Hausanschluss innen
3,0.0200,00:45-01:00,20220301,1.29,CH1024201234500000000000010008561,2022-03-01 00:45:00,2022,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0]",Hausanschluss innen
4,0.0175,01:00-01:15,20220301,1.29,CH1024201234500000000000010008561,2022-03-01 01:00:00,2022,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0]",Hausanschluss innen

In [17]:
df = df[df["OHE_Labels"].notna()]
# keep only columns 'Power' and 'Messpunkt_ID'
df = df[['Power', 'Messpunkt_ID']]
df.head(1)

   Power                       Messpunkt_ID
0  0.025  CH1024201234500000000000010008561

In [18]:
df['Count'] = df.groupby('Messpunkt_ID').cumcount()

In [19]:
df.head(5)

    Power                       Messpunkt_ID  Count
0  0.0250  CH1024201234500000000000010008561      0
1  0.0150  CH1024201234500000000000010008561      1
2  0.0200  CH1024201234500000000000010008561      2
3  0.0200  CH1024201234500000000000010008561      3
4  0.0175  CH1024201234500000000000010008561      4

In [20]:
pivoted_df = df.pivot(index='Messpunkt_ID', columns='Count', values='Power')

In [21]:
pivoted_df

Count,0,1,2,3,4,5,6,7,8,9,...,35030,35031,35032,35033,35034,35035,35036,35037,35038,35039
Messpunkt_ID,,,,,,,,,,,,,,,,,,,,,
CH1024201234500000000000010008561,0.025,0.015,0.020,0.020,0.0175,0.020,0.015,0.025,0.0125,0.020,...,0.085,0.0525,0.040,0.045,0.0575,0.130,0.055,0.0275,0.0275,0.0475
CH1024201234500000000000010008650,0.043,0.049,0.055,0.067,0.0590,0.045,0.043,0.050,0.0500,0.047,...,0.049,0.0490,0.050,0.069,0.0490,0.050,0.050,0.0600,0.0570,0.0500
CH1024201234500000000000010008651,0.012,0.013,0.012,0.013,0.0120,0.013,0.012,0.013,0.0120,0.013,...,0.000,0.0000,0.000,0.000,0.0000,0.000,0.000,0.0000,0.0000,0.0000
CH1024201234500000000000010008652,0.000,0.001,0.003,0.003,0.0010,0.000,0.001,0.001,0.0450,0.059,...,0.378,0.3770,0.361,0.370,0.2580,0.234,0.232,0.2590,0.1910,0.1250
CH1024201234500000000000010008653,0.047,0.026,0.009,0.026,0.0100,0.010,0.028,0.006,0.0120,0.025,...,0.032,0.0380,0.021,0.021,0.0370,0.039,0.044,0.0460,0.0450,0.2490
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
CH1024201234500000000000010046027,0.015,0.028,0.043,0.040,0.0200,0.013,0.012,0.013,0.0210,0.045,...,0.018,0.0170,0.031,0.023,0.0200,0.024,0.018,0.0140,0.0160,0.0220
CH1024201234500000000000010046816,0.000,0.000,0.000,0.000,0.0000,0.000,0.000,0.000,0.0000,0.000,...,0.002,0.0030,0.002,0.002,0.0020,0.002,0.003,0.0020,0.0020,0.0020
CH1024201234500000000000010046817,0.000,0.000,0.000,0.000,0.0000,0.000,0.000,0.000,0.0000,0.000,...,0.002,0.0020,0.002,0.002,0.0020,0.002,0.003,0.0020,0.0020,0.0020
CH1024201234500000000000010046818,0.000,0.000,0.000,0.000,0.0000,0.000,0.000,0.000,0.0000,0.000,...,0.002,0.0020,0.002,0.002,0.0030,0.002,0.002,0.0020,0.0020,0.0020
CH1024201234500000000000010046819,0.000,0.000,0.000,0.000,0.0000,0.000,0.000,0.000,0.0000,0.000,...,0.002,0.0020,0.002,0.002,0.0030,0.002,0.002,0.0020,0.0020,0.0020

In [23]:
pivoted_df.to_csv('data/pivoted_15.csv')