In [18]:
import json

import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [19]:
df = pd.read_csv('data/smartmeters_kanal_129.csv')
df.head()

/var/folders/mw/x398f5s545bffd989r6xpm100000gp/T/ipykernel_2079/1406385456.py:1: DtypeWarning: Columns (7,8) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('data/smartmeters_kanal_129.csv')

,Power,Timeslot,Datum,Kanal,Messpunkt_ID,Timestamp,Year,OHE_Labels,KLEINANSCHLUSS
0,0.0250,00:00-00:15,20220301,1.29,CH1024201234500000000000010008561,2022-03-01 00:00:00,2022,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0]",Hausanschluss innen
1,0.0150,00:15-00:30,20220301,1.29,CH1024201234500000000000010008561,2022-03-01 00:15:00,2022,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0]",Hausanschluss innen
2,0.0200,00:30-00:45,20220301,1.29,CH1024201234500000000000010008561,2022-03-01 00:30:00,2022,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0]",Hausanschluss innen
3,0.0200,00:45-01:00,20220301,1.29,CH1024201234500000000000010008561,2022-03-01 00:45:00,2022,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0]",Hausanschluss innen
4,0.0175,01:00-01:15,20220301,1.29,CH1024201234500000000000010008561,2022-03-01 01:00:00,2022,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0]",Hausanschluss innen

In [22]:
df = df[df["OHE_Labels"].notna()]

In [23]:
print(f"Messpunkt_ID: {len(df['Messpunkt_ID'].unique())}")

Messpunkt_ID: 265

In [24]:
# Convert string representation into a list
df['OHE_Labels'] = df['OHE_Labels'].apply(lambda x: eval(x))

In [25]:
with open("data/oocs/idx2label_oocs.json") as f:
    idx2label = json.load(f)
idx2label

{'0': 'Autoladestation',
 '1': 'Beleuchtung',
 '2': 'Blockspeicher',
 '3': 'Boiler',
 '4': 'Direktheizung',
 '5': 'Doppeltarif Privatzähler',
 '6': 'Einspeiser Photovoltaik Anlage',
 '7': 'Einzelspeicher',
 '8': 'Saunaofen',
 '9': 'Tumbler',
 '10': 'Unknown',
 '11': 'WP Boiler',
 '12': 'Waschmaschine',
 '13': 'Waschmaschine und Tumbler',
 '14': 'Wärmepumpe'}

In [26]:
for idx, label in idx2label.items():
    df[label] = df['OHE_Labels'].apply(lambda x: x[int(idx)])
df.head()

,Power,Timeslot,Datum,Kanal,Messpunkt_ID,Timestamp,Year,OHE_Labels,KLEINANSCHLUSS,Autoladestation,...,Doppeltarif Privatzähler,Einspeiser Photovoltaik Anlage,Einzelspeicher,Saunaofen,Tumbler,Unknown,WP Boiler,Waschmaschine,Waschmaschine und Tumbler,Wärmepumpe
0,0.0250,00:00-00:15,20220301,1.29,CH1024201234500000000000010008561,2022-03-01 00:00:00,2022,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0]",Hausanschluss innen,0,...,0,0,0,0,0,1,0,0,0,0
1,0.0150,00:15-00:30,20220301,1.29,CH1024201234500000000000010008561,2022-03-01 00:15:00,2022,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0]",Hausanschluss innen,0,...,0,0,0,0,0,1,0,0,0,0
2,0.0200,00:30-00:45,20220301,1.29,CH1024201234500000000000010008561,2022-03-01 00:30:00,2022,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0]",Hausanschluss innen,0,...,0,0,0,0,0,1,0,0,0,0
3,0.0200,00:45-01:00,20220301,1.29,CH1024201234500000000000010008561,2022-03-01 00:45:00,2022,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0]",Hausanschluss innen,0,...,0,0,0,0,0,1,0,0,0,0
4,0.0175,01:00-01:15,20220301,1.29,CH1024201234500000000000010008561,2022-03-01 01:00:00,2022,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0]",Hausanschluss innen,0,...,0,0,0,0,0,1,0,0,0,0

In [27]:
df['Timestamp'] = pd.to_datetime(df['Timestamp'])

In [8]:
# def filter_one_year(group):
#     start_date = group['Timestamp'].min()
#     end_date = start_date + pd.DateOffset(years=1)
#     return group[(group['Timestamp'] >= start_date) & (group['Timestamp'] < end_date)]

In [9]:
# one_year_df = df.groupby('Messpunkt_ID').apply(filter_one_year).reset_index(drop=True)

In [10]:
# print(f"Length of original df: {len(df)}")
# print(f"Length of one year df: {len(one_year_df)}")

In [28]:
import os
for idx, device in idx2label.items():
    device_df = df.groupby('Messpunkt_ID')[device].max().reset_index()
    device_df.columns = ['id', 'label']
    if "/" in device:
        filename = f'{device.replace("/", "_").lower()}.csv'
    else:
        filename = f'{device.replace(" ", "_").lower()}.csv'
    try:
        device_df.to_csv(f'labels/{filename}', index=False)
    except:
        print(f'Error with filename: {filename}')

In [12]:
# # save one_year_df to csv
# one_year_df.to_csv('data/oocs/oocs_timestamp_ohe_one_year.csv', index=False)

In [29]:
len(df["Messpunkt_ID"].unique())

265