In [1]:
import pandas as pd

In [4]:
df = pd.read_csv('data/oozg/oozg_30m.csv')
if "Unnamed: 0" in df.columns:
    df = df.drop(columns=["Unnamed: 0"])

In [5]:
df.head()

                        Messpunkt_ID            Timestamp  Power
0  CH1024201234500000000000010008655  2022-03-01 00:00:00  0.042
1  CH1024201234500000000000010008655  2022-03-01 00:30:00  0.040
2  CH1024201234500000000000010008655  2022-03-01 01:00:00  0.032
3  CH1024201234500000000000010008655  2022-03-01 01:30:00  0.033
4  CH1024201234500000000000010008655  2022-03-01 02:00:00  0.043

In [6]:
# keep only columns 'Power' and 'Messpunkt_ID'
df = df[['Power', 'Messpunkt_ID']]
df.head(1)

   Power                       Messpunkt_ID
0  0.042  CH1024201234500000000000010008655

In [7]:
df['Count'] = df.groupby('Messpunkt_ID').cumcount()

In [8]:
df.head(5)

   Power                       Messpunkt_ID  Count
0  0.042  CH1024201234500000000000010008655      0
1  0.040  CH1024201234500000000000010008655      1
2  0.032  CH1024201234500000000000010008655      2
3  0.033  CH1024201234500000000000010008655      3
4  0.043  CH1024201234500000000000010008655      4

In [9]:
pivoted_df = df.pivot(index='Messpunkt_ID', columns='Count', values='Power')

In [10]:
pivoted_df.head(1)

Count,0,1,2,3,4,5,6,7,8,9,...,17510,17511,17512,17513,17514,17515,17516,17517,17518,17519
Messpunkt_ID,,,,,,,,,,,,,,,,,,,,,
CH1024201234500000000000010008655,0.042,0.04,0.032,0.033,0.043,0.042,0.042,0.032,0.035,0.043,...,0.054,0.1,0.108,0.064,0.047,0.062,0.041,0.047,0.022,0.022

In [11]:
pivoted_df.to_csv('data/oozg/oozg_pivoted_30.csv')